<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>sanonnat</title>
    <link rel="stylesheet" href="tyyli.css" th:href="@{tyyli.css}"/>
</head>
<body>
<h1>Kuuluisia elokuvalausahduksia</h1>

<div>
    <form th:action="@{/sanonnat}" th:object="${lomake}" method="post">
        <table>
        <td><label th:text="'Elokuvan nimi: '" th:for="elokuva"/> <input th:field="*{elokuva}"/></td>
        <td><label th:text="'Sanonta: '" th:for="sanonta"/> <input th:field="*{sanonta}"/></td>
        </table>
        <p><input th:type="'submit'" th:value="'Lähetä'"/></p>
    </form>
</div>
</body>
</html>